@import "../../assets/variables";
// $primary: #feba00;
#about-us{
  padding-top: 20px;
  background: $primary;
  position: relative;
  width: 100%;
  h2, p, a, span{
    color: #000 !important;
  }
  &:before{
    content: '';
    position: absolute;
    background: $primary;
    width: 100vw;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    top: 0;
  }
}
