<div id="about-us">
  <div class="w-100 py-1 fw-bold mt-3 mb-1 d-flex justify-content-center">
    <h2 class="pb-2 text-uppercase">O firmie</h2>
  </div>
  <div class="row container_inner justify-content-center text-left px-md-5">

    <p class="pb-2 px-4 w-100 w-md-75">Budowa domów, domy jednorodzinne, domy energooszczędne</p>
    <p class="pb-2 px-4 w-100 w-md-75">Firma Z.U.H. Walczak (usługi budowlane) prowadzi działalność budowlaną w zakresie zaspokajania mieszkaniowych potrze indywidualnych odbiorców. Posiadamy wyspecjalizowaną kadrę pracowniczą oraz własny sprzęt budowlany, co ogranicza problemy związane z ewentualną nieterminowością kontrahentów.</p>
    <p class="pb-2 px-4 w-100 w-md-75">Budowa domów wymaga często zaangażowania dużej siły roboczej oraz specjalistycznego sprzętu budowlanego - dzięki naszym zasobom potrafimy doskonalne sprostać oczekiwaniom naszych klientów.</p>
    <p class="pb-2 px-4 w-100 w-md-75">Domy jednorodzinne, które mieliśmy okazję wybudować, charakteryzują się wysoką jakością wykonania - nasze obiekty wykonane są na wysokim poziomie.</p>
    <p class="pb-2 px-4 w-100 w-md-75">Dzięki własnemu zapleczu sprzętowemu świadczymy również szereg dodatkowych usług: stany surowe, szalunki, rusztowania, wynajem rusztowań, budowy.</p>
    
    <div class="certificate d-flex flex-wrap justify-content-center align-items-center w-100 w-md-50 px-3">
      <img src="../../assets/img/certificates/logo_xella.jpg"/>
      <span class="d-flex w-100 justify-content-center mt-4">Certyfikowany wykonawca firmy</span>
    </div>
    <div class="certificate d-flex flex-wrap justify-content-center align-items-center w-100 w-md-50 px-3">
      <img src="../../assets/img/certificates/logo_silka_ytong.jpg"/>
      <span class="d-flex w-100 justify-content-center mt-4">Certyfikaty na budowę w systemie</span>
    </div>

  </div>
</div>