<div id="contact" > 
  <div class="contact-data d-flex flex-wrap align-content-start justify-content-center">
    <h2 class="border-bottom pb-2">
      Z.U.H. Witold Walczak
    </h2>
    <span class="d-flex py-1 align-items-center"><i class="icon-phone"></i><a class="phone" href="tel:+48570207020" type="phone" >570 20 70 20</a> </span>
    <span class="d-flex py-1 align-items-center"><i class="icon-mail"></i> <a class="mail" href="mailto:biuro@bud-walczak.pl" type="mail" >biuro@bud-walczak.pl</a> </span>
    <span class="d-flex py-1 align-items-center"><i class="icon-mark"></i> <span>ul. Kielecka 50, 71-037 Szczecin</span> </span>
  </div>
  
  <div id="maps_container">
    <div id="map_shadow"></div>
    <div id="contact_map" class="contact_map w-100 d-flex flex-wrap container"></div>
  </div>
</div>