$primary: #feba00;
$secondary: #2b2a27;
footer{
  display: flex;
  background: $secondary;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid $primary;
  span{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  a{
    color: #212529;
    padding: 0 5px;
  }
}