<div id="equipment" class="container_main container">
  <div class="w-100 py-1 fw-bold pt-3 mt-3 mb-3 d-flex justify-content-center text-uppercase">
    <h2 class="pt-3 pb-2">Wypożyczalnia SPRZĘTU</h2>
  </div>
  <div class="d-flex w-100 equipment_wrapper">
    <div class="col-12 col-md-3 mb-5 mb-md-0 equipment_piece">
      <img src="../../assets/img/equipment/eq_1.png" alt="Pojazdy"/>
      <span>Pojazdy</span>
      <a href="tel:+48570207020" type="phone" class="contact-us">
        <span class="title">Skontaktuj się z nami!</span>
        <i class="icon-phone"></i><span>570 20 70 20</span>
      </a>
    </div>
    <div class="col-12 col-md-3 mb-5 mb-md-0 equipment_piece">
      <img src="../../assets/img/equipment/eq_2.png" alt="Narzędzia"/>
      <span>Narzędzia</span>
      <a href="tel:+48570207020" type="phone" class="contact-us">
        <span class="title">Skontaktuj się z nami!</span>
        <i class="icon-phone"></i><span>570 20 70 20</span>
      </a>
    </div>
    <div class="col-12 col-md-3 mb-5 mb-md-0 equipment_piece">
      <img src="../../assets/img/equipment/eq_3.png" alt="Rusztowania"/>
      <span>Rusztowania</span>
      <a href="tel:+48570207020" type="phone" class="contact-us">
        <span class="title">Skontaktuj się z nami!</span>
        <i class="icon-phone"></i><span>570 20 70 20</span>
      </a>
    </div>
  </div>
</div>
