$primary: #feba00;
$gray_light: #707070;
$gray_dark: #3e3e3e;
$gray_dimmed: #B1B1B1;

$main_gray: #2b2a27;
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

$theme-colors: (
  "primary": #feba00,
  "gray_dimmed": #B1B1B1,
);
